---
title: Blog
layout: default
---
<section id="main" class="container">
    	<header>
            <h2>Photo Gallery</h2>
						<p>See all the fun things Tau Beta Pi likes to do!.</p>
					</header>
    		{% for post in site.photoAlbums %}
                <div class="row">
            <div class="12u">
                        <section class="box">
                            <header>
			<h3>{{ post.title }}</h3>
                            </header>
                            <hr>
                                                                        <div class="row">
    		{% for photo in post.photos %}
                            					<div class="6u">
			<span class="image fit"><img src="{{ site.baseurl }}/images/photos/{{photo}}" alt="" /></span>
                                                    	</div>
                                                
            {% endfor %}
                            </div>
                    </section>
	       </div>
    </div>
    		{% endfor %}

</section>
